auth_enabled: false

server:
  http_listen_port: 3100
  log_level: warn

ingester:
  wal:
    enabled: true
    dir: /var/loki/wal
  lifecycler:
    ring:
      kvstore:
        store: inmemory
    replication_factor: 1
  chunk_idle_period: 5m
  max_chunk_age: 1h

schema_config:
  configs:
    - from: 2022-01-01
      store: boltdb-shipper
      object_store: s3
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /var/loki/index
    cache_location: /var/loki/boltdb-cache
    shared_store: s3
  aws:
    s3: http://${MINIO_ACCESS_KEY}:${MINIO_SECRET_KEY}@minio:9000/${MINIO_BUCKET}
    s3forcepathstyle: true
    insecure: true

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h

chunk_store_config:
  max_look_back_period: 0s

compactor:
  working_directory: /var/loki/compactor
  shared_store: s3
